@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap');

h1 {
    font-family: "Roboto", "Suwannaphum", sans-serif;
}

@font-face {
    font-family: long;
    src: url(Bungee_Spice/BungeeSpice-Regular.ttf);
}

h2 {
    font-family: long;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    text-align: center;
}

thead {
    background-color: greenyellow;
}

tr {
    height: 40px;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd){
    background-color: antiquewhite;
}