.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}

.box {
    background-color: darkslategray;
    border-radius: 8px;
    color: antiquewhite;
    display: grid;
    place-content: center;
}

.box1 {
    grid-column: span 2;
}

.box2 {
    grid-row: span 2;
}
